html {
  font-size: 10px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.drum-keys {
  display: flex;
  width:100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items:center;
}

.drum-key {
  padding: 15px 10px 10px;
  min-width: 54px;
  max-width: 100px;
  border: 2px #000 solid;
  text-align: center;
  background:rgba(0, 0, 0, .6);
  flex: 0 1 10%;
  cursor:pointer;
  margin: 10px;
}
.drum-key--played {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.drum-key__letter {
  font-size:24px;
  color: #fff;
}

.drum-key__description {
  font-size:12px;
  color: #ffc600;
}